

/* navbar section */
.navbar{
    width: 100%;
    height: 60px;
background-color:#FAFAFA;
    display: flex;
    gap: 3px;
    border-radius: 50px;

}

.img{
    height: 26px;
    padding-top: 12px;
    padding-left: 60px;

}

.img1{
    height: 15px;
    padding-top: 23px ;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 30px;    
  margin: 12px;
  padding-top: 7px;
  justify-content: center;
 margin-left: 330px;   
  padding-bottom: 6px;
  background-color:#FEFEFF;
  padding-right: 30px;
  height: 23px;
  border-radius: 40px;
 
}

/*@font-face {
    font-family: 'Poppins-Black';
    src: url( './font/Poppins-Black.ttf');
}*/

.nav-links a {
  text-decoration: none;
  color: black;
/*font-family: 'Poppins-Black';
font-size: 12px;*/
}

.nav-links a:hover {
  color:navy;
}

.nav-links li a img{
    width: 20px;
}

.text{
   
    width: 10%;
    padding: 6px;
    margin-left: 40px;
}

.text li{
    list-style: none;
}


.text li a {
   text-decoration: none;
   color: black;


}

button{
    border-radius: 70px;
    width: 10%;
margin-top: 8px;
    height: 45px;
    margin-left: 15px;
  border: 1px #BEBEBE solid;
  background-color: white;

}

/*hero section */

.hero-section{
   display: flex;
    height: 550px;
 background-size: cover;
background-image: linear-gradient(90deg, #C1DEE8 0%, #FBD9B9 100%);

}


.hero h2{
    position: absolute;
top: 180px;
  left: 75px;
   font-size: 16px;
  
}

.hero h1{
    position: absolute;
    font-size:60px ;
left: 70px;
top:190px;
}


.hero p{
    position: absolute;
    left: 70px;
    top: 380px;
    font-size: 16px;

}

.hero form label input{
    width: 349px;
    height: 44px;
    border-radius: 50px;
    border: 1px white solid ;
    background-color: white;
    position: absolute;
    top: 460px;
    left: 60px;
   color: black;
   padding-left: 20px;

}

.button2{
    width: 130px;
    height: 50px;
    border-radius: 40px;
    position: absolute;
    top: 450px;
    left: 288px;
    background-color: black;
    color: white;
    font-size: 15px;
}
.hero-img img{
   height:620px;
position: absolute;
 left: 620px;

  
}

.text2
{position: absolute;
    top: 650px;
 left: 500px;


}

.text2 h2{
    
    position: absolute;
    
    
}

.text2 p 
{
    bottom: -7px;
    font-size: 14px;
   position: relative;
   left: 90px;
}
.hero-section2{
    display: flex;

    
}
.part1 
{
position: absolute ;
left: 220px;
}

/* img1 */

.part1 img{
    height: 55px;
    position: absolute;
    top:200px;
   
    

}

.part1 h1{
  position: relative;
  top: 260px;
font-size: 25px;
}

.part1 p{
    position: relative;
  top: 260px;
}

/* img2 */
.part1-img2{
    position: absolute;
 left: 400px;
}

.part1 h1{
  position: relative;
  top: 260px;
font-size: 25px;

}

.part1 p{
    position: relative;
  top: 260px;
}

.part1-img3{
 position: absolute;
 left: 750px;
}


.part1 h1{
  position: relative;
  top: 260px;
font-size: 25px;
}

.part1 p{
    position: relative;
  top: 260px;
}


/* media queries */

@media screen and (min-width:0px) and (max-width:480px)
 {
    
}
