

/* navbar section */
.navbar{
    width: 100%;
    height: 60px;
background-color:#FAFAFA;
    display: flex;
    gap: 3px;
    border-radius: 50px;
position: relative;
top: 6px;
}

.img{
    height: 26px;
    padding-top: 12px;
    padding-left: 60px;

}

.img1{
    height: 15px;
    padding-top: 23px ;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 30px;    
  margin: 12px;
  padding-top: 7px;
  justify-content: center;
 margin-left: 330px;   
  padding-bottom: 6px;
  background-color:#FEFEFF;
  padding-right: 30px;
  height: 23px;
  border-radius: 40px;
 
}

/*@font-face {
    font-family: 'Poppins-Black';
    src: url( './font/Poppins-Black.ttf');
}*/

.nav-links a {
  text-decoration: none;
  color: black;
/*font-family: 'Poppins-Black';
font-size: 12px;*/
}

.nav-links a:hover {
  color:navy;
}

.nav-links li a img{
    width: 20px;
}

.text{
   
    width: 10%;
    padding: 6px;
    margin-left: 40px;
}

.text li{
    list-style: none;
}


.text li a {
   text-decoration: none;
   color: black;


}

button{
    border-radius: 70px;
    width: 10%;
margin-top: 8px;
    height: 45px;
    margin-left: 15px;
  border: 1px #BEBEBE solid;
  background-color: white;

}

/*hero section */

.hero-section{
   display: flex;
    height: 550px;
    width: 98%;
    top: 30px;border-radius: 15px;
 background-size: cover;
background-image: linear-gradient(90deg, #C1DEE8 0%, #FBD9B9 100%);
position: relative;
left: 10px;
right:10px ;
}


.hero h2{
    position: absolute;
top: 180px;
  left: 75px;
   font-size: 16px;
  
}

.hero h1{
    position: absolute;
    font-size:60px ;
left: 70px;
top:190px;
}


.hero p{
    position: absolute;
    left: 70px;
    top: 380px;
    font-size: 16px;

}

.hero form label input{
    width: 349px;
    height: 44px;
    border-radius: 50px;
    border: 1px white solid ;
    background-color: white;
    position: absolute;
    top: 460px;
    left: 60px;
   color: black;
   padding-left: 20px;

}

.button2{
    width: 130px;
    height: 50px;
    border-radius: 40px;
    position: absolute;
    top: 450px;
    left: 320px;
    background-color: black;
    color: white;
    font-size: 15px;
}
.hero-img img{
   height:620px;
position: absolute;
 left: 586px;

  
}

.text2
{position: absolute;
    top: 650px;
 left: 500px;


}

.text2 h2{
    
    position: absolute;
    
    
}

.text2 p 
{
    bottom: -7px;
    font-size: 14px;
   position: relative;
   left: 90px;
}
.hero-section2{
    display: flex;
 justify-content: center;
 align-items: center  ;
 gap: 120px;
 position: relative;
 left: 50px;
 width: 95%;
    
}
.part1 
{
position: relative ;

}

/* img1 */

.part1 img{
    height: 55px;
    position:absolute;
    top:170px;

   
    

}

.part1 h1{
  position: relative;
  top: 230px;
font-size: 25px;
}

.part1 p{
    position: relative;
  top: 228px;
}

/* img2 */

.part2{

position: relative;
  
}
.part2 img{
 /*left:  600px;*/
   height: 55px;
    position: relative;
    top:190px;

}

.part2 h1{
  position: relative;
  top: 195px;
font-size: 25px;
/*left:  600px;*/

}

.part2 p{
    position: relative;
  top: 195px;
  /*left: 590px;*/
}
.part3{
  position: relative;
  
}

.part3 img{
 position: relative;
 height: 70px;
  top: 190px;
}

.part3 h1{
  position: relative;
  top: 183px;
font-size: 25px;


}

.part3 p{
    position: relative;
  top: 183px;

}

/* section3 */

.section3{
   position: relative;
   top: 300px;  
   
}
@font-face {
  font-family:'Poppins-Black' ;
  src: url(./font/Poppins-Black.ttf);
}

.section3 h1{
  text-transform: uppercase;
font-size: 28px;
position: relative;
   left: 80px;
   width: 30%;
}

.parah{
font-family: 'Poppins-Black';
  font-size: 14px;
  position: relative;
     left: 80px;
     width: 20%;
}
.main{  
  display: flex;
  position: relative;
  gap: 30px;
  justify-content: center;
  top: 30px;
}

 .container{
  border: 1px lightgray solid; 
  padding-top: 0px;
  padding-left: 0px;
  padding-right:62px ;
  padding-bottom: 30px;
  border-radius: 15px;


 }

 .container img{
     height: 240px;
    border-radius: 14px;
    width: 120%;
    position: relative;
    
  
}

.heading-para{
  width: 120%;
  position: relative;
  left: 6px;
}

 .heading-para h2{
  font-style: italic;
  font-size: 20px;
     left: 2px;
    position: relative;
   
  
 }

  .heading-para p{
    font-size: 15px;
         left: 5px;
    position: relative;
  
  }

   .price{
    position: absolute;
    left:140px;
    text-decoration: none;
    color:  black;
    top: 75px;
    display: flex;
   }
.fa-sharp {
  color: black;
position: relative;
top: 10px;
left:5px;
 
}

.content {
  position:relative ;
  top:400px ;
  display: flex;
  justify-content: center;
 width:93% ;
   left: 50px;
right: 20px;
border-radius: 15px;
background-color: #FBD9B9;

}
.content h1{
  font-size: 35px;

  
}

.content h1 span{
  display: flex;
  justify-content: center;
 position: relative;

}

.imp{
  position:absolute;
    top:285%;

 width:98% ;
 
}
.content2{
    
    width:94% ;
    height: 600px;
  background-color: antiquewhite;
  position: relative;
  left: 50px;
right: 20px;
border-radius: 15px;
bottom: -30px;
top: -1px;
}


.content2 h1{

 text-transform: uppercase;
font-size: 33px;
position: relative;
   left: 80px;
   width: 50%;
  top: 160px;
}

.content2 P{
  position: relative;
   left: 80px;
   width: 50%;
   font-size: 16px;
  top: 160px;
}
.one{
background-color: black;
color: white;
position: relative;
left: 60px;
width: 8%;
top:180px ;
}
 .two{
width: 8%;
height: 40px;
position: relative;
left: 60px;
top:180px ;
 }



/*.bg{
  background-image: url(./images/business.jpg);
  width: 100%;
  height: 530px;
  background-repeat: no-repeat;
  background-size: cover;
}*/


.image{
  position: relative;
  left: 710px;
  width: 30%;
}

.image img{
  width: 130%;
  height: 500px;
  border-radius: 14px;
    position: relative;
top: -500px;
}

.add {
display: flex;
position: relative;
gap: 90px;
top: 40px;
}

.add h1{
  font-size: 40px;
}

/* last */
.last-section{
   display: flex;
    height: 550px;
    width: 98%;
 background-size: cover;
background-image: linear-gradient(90deg, #C1DEE8 0%, #FBD9B9 100%);
;
position:relative;
top:1080px;
left: 20px;
right: 20px;
border-radius: 15px;

}


.last h1{
    position: relative;
    font-size:40px ;
left: 70px;
top:150px;
}


.last p{
    position:relative;
    left: 70px;
    top: 150px;
    font-size: 16px;

}

.last form label input{
    width: 349px;
    height: 44px;
    border-radius: 50px;
    border: 1px white solid ;
    background-color: white;
    position: relative;
    top: 170px;
    left: 60px;
   color: black;
   padding-left: 20px;

}

.button-3{
    width: 130px;
    height: 50px;
    border-radius: 40px;
    position: relative;
    top: 170px;
    left: -55px;
    background-color: black;
    color: white;
    font-size: 15px;
}
.last-img img{
   height:640px;
position: relative;
 left: 140px;

width: 95%;
  
}



















/* media queries */

@media screen and (min-width:0px) and (max-width:480px)
 {
    
    .navbar {
    flex-direction: column;
    height: auto;
    align-items: center;
    padding: 10px 0;
  }
}
